/* html {
  cursor: none;
} */


#invertedcursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background: hotpink;
  border-radius: 50%;
  top: var(--y, 0);
  left: var(--x, 0);
  transform: translate(-50%, -50%);
  z-index: 2;
  mix-blend-mode: screen;
  transition: transform .2s;
  pointer-events: none;
}


body{
    font-family: "PT Serif";
    font-weight: 400;
    font-style: normal;
    color: rgb(39, 27, 211);
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

::selection {
  color: hotpink;
  background: rgb(39, 27, 211);;
}

a:link, a:visited, a:active{
  color: rgb(39, 27, 211);
  text-decoration: none;
}

a:hover{
  color:cornflowerblue;
  font-style: italic;
}

.juliaverweij{
  font-size: 2.4rem;
}

.leftnavigation{
    color: rgb(39, 27, 211);
    list-style-type: none;
    height: 100%;
    width: 18rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 1.1rem;
}

.openbtn {
  display: none;
}

.mainpage{
    margin-left: 18rem;
    padding-top: 1.6rem;
    padding-right: 1rem;
    text-align: justify;
    overflow-x: hidden;
}

.title{
  text-align: right;
  padding-right: 1rem;
  font-size: 2.4rem;
}

.about{
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
}

.about img{
  margin-left: 2rem;
  width: 38%;
  float: right;
}

.surprise:hover{
  font-style: italic;
  color:cornflowerblue;
}

#surpriseId{
  display: none;
  position: absolute;
  top: 50vh;
  left: 55vw;
  z-index: 1000;
  width: 35rem;
  height: 20rem;
  padding: 2rem;
  font-size: 1rem;
  color: blue;
  text-align: center;
  background-color: hotpink;
  border-radius: .5rem;
}

#surpriseId.show {
  display: grid;
}

#surpriseId img{
  padding: 1rem;
  margin: auto;
  vertical-align: center;
  width: 75%;
  height: auto;
}

.webbaseddescription{
  margin-top: -5rem;
  font-size: 1.1rem;
}

.webdesign{
  transform: scale(75%);
  position: relative;
  left: -10rem;
  margin-top: -4rem;
}

.notes{
  margin-top: 3rem;
  font-size: 1.1rem;
}

.descriptiongallery{
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 2.4rem;
}

.descriptionportraits{
  margin-top: 5rem;
  margin-bottom: 3rem;
  margin-left: 12rem;
  margin-right: 12rem;
  font-size: 2.4rem;
}

.descriptioncoffee{
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 15rem;
  margin-right: 3rem;
  font-size: 2.4rem;
}

.descriptionnavigating{
  margin-top: 4rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 16rem;
  font-size: 2.4rem;
}

.descriptionunfamiliar{
  margin-top: 8rem;
  margin-bottom: 3rem;
  margin-left: 8rem;
  margin-right: 10rem;
  font-size: 2.4rem;
}

.descriptionnerves{
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 15rem;
  margin-right: 5rem;
  font-size: 2.4rem;
}

.descriptiononestep{
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 6rem;
  margin-right: 12rem;
  font-size: 2.4rem;
}

.descriptioncake{
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 16rem;
  margin-right: 3rem;
  font-size: 2.4rem;
}

.descriptionfrustratie{
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 18rem;
  margin-right: 3rem;
  font-size: 2.4rem;
}

.descriptionblack{
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 16rem;
  font-size: 2.4rem;
}

.descriptiondoors{
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 15rem;
  margin-right: 3rem;
  font-size: 2.4rem;
}

.descriptionpaperjam{
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 8rem;
  font-size: 2.4rem;
}

.descriptionwebdesign{
  margin-top: 2rem;
  margin-bottom: 8rem;
  margin-left: 16rem;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.descriptionhue{
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 16rem;
  font-size: 2.4rem;
}

.descriptionrei{
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 8rem;
  margin-right: 16rem;
  font-size: 2.4rem;
}

.descriptionourmur{
  margin-top: 3rem;
  margin-bottom: 4rem;
  margin-left: 10rem;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.homepage img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }

.homepage img:hover{
    z-index: 100000;
    transform: scale(0.92);
}
  
* {
    box-sizing: border-box;
  }
  
.row {
	display: flex;
	gap: 1rem;
  margin-bottom: 1rem;
}

.item {
	flex-basis: 0;
	flex-grow: calc(var(--ratio));
	aspect-ratio: var(--ratio);
}

.item img {
	display: block;
	width: 100%;
	height: auto;
}

.weblog{
  background-image: url("pictures/backgroundweblog.jpg");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

#webLog {
  color: hotpink;
}

.leftnavigationweblog{
  color: hotpink;
  background-color: white;
  list-style-type: none;
  height: 100%;
  width: 18;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -22rem;;
  overflow-x: hidden;
  padding-top: 2rem;
  padding-left: 2rem;
  font-size: 1.1rem;
  transition: 0.5s;
}

.leftnavigationweblog a {
  text-decoration: none;
  color: hotpink;
}

.leftnavigationweblog a:hover {
  color: pink;
}

.openbtnWeblog {
  display: inline;
  z-index: 9999;
  font-size: 2.5rem;
  color: hotpink;
  background-color: #ffffff00;
  border: none;
  position: absolute;
  top: 2rem;
  left: 2rem;
  transition: 0.5s;
}

.openbtnWeblog:hover{
  color: pink;
}

.openbtnWeblog.open{
  position: absolute;
  text-align: center;
  top: 2.2rem;
  transform: translate(17rem, 0) rotate(90deg);
}

.leftnavigationweblog.open{
  width: 23rem;
  transform: translate(22rem, 0);
}

.draggable {
  position: absolute;
}

.logdate {
  font-size: 2rem;
  font-weight: 800;
  text-align: right;
  margin-bottom: 1rem;
}

.logtitle {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: right;
  margin-bottom: 1rem;
}

#log001{
  padding: 1rem;
  z-index: 0;
  top: 10rem;
  left: 2rem;
  width: 27rem;
  color: blue;
  text-align: center;
  border: 0.1rem solid blue;
  box-shadow: 0 0 0.5rem 0.2rem rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

#log002{
  position: absolute;
  padding: 1rem;
  z-index: 1;
  top: 6rem;
  left: 35rem;
  width: 20rem;
  min-height: 6rem;
  color: hotpink;
  border: 0.3rem double hotpink;
  box-shadow: 0 0 0.5rem 0.2rem rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

#log002 a{
  color: hotpink;
}

summary {
  display: flex;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary:hover{
  font-style: italic;
}

.friendlist{
  margin-top: 1rem;
  margin-left: 1.5rem;
  text-align: left;
  columns: 2;
}

.previousreads{
  margin-top: 1rem;
  margin-left: 1.5rem;
  text-align: left;
}

#log003{
  padding: 1rem;
  position: absolute;
  z-index: 1;
  top: 22rem;
  left: 25rem;
  width: 15rem;
  min-height: 5rem;
  color: hotpink;
  box-shadow: 0 0 0.5rem 0.2rem rgba(255, 105, 180, 0.8);
  background-color: rgb(255, 255, 255);
}

#log003 img{
  width: 100%;
  height: auto;
}

#log004{
  z-index: 0;
  top: 25rem;
  left: 72rem;
  width: 15rem;
  height: auto;
}

#log005{
  padding: 1rem;
  z-index: 0;
  top: 10rem;
  left: 65rem;
  width: 12rem;
  height: auto;
  color: blue;
  border: 0.2rem dotted blue;
  text-align: center;
  box-shadow: 0 0 0.5rem 0.2rem rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

#log005 img{
  width: 80%;
  margin-bottom: 1rem;
}

#log006{
  z-index: 999;
  top: 40rem;
  left: 32rem;
  width: 14rem;
  height: auto;
}

#log007{
  z-index: 999;
  top: 2rem;
  left: 45rem;
  width: 10rem;
  height: auto;
}

#log008{
  z-index: 0;
  top: 25rem;
  left: 4rem;
  width: 12rem;
  height: auto;
}

#log009{
  z-index: 999;
  top: 8rem;
  left: 45rem;
  width: 18rem;
  height: auto;
}

#log010{
  position: absolute;
  padding: 1rem;
  z-index: 1;
  top: 28rem;
  left: 42rem;
  width: 26rem;
  min-height: 6rem;
  color: hotpink;
  text-align: center;
  border: 0.3rem double hotpink;
  box-shadow: 0 0 0.5rem 0.2rem rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 850px) {
    a:hover {
    font-style: italic;
    color:cornflowerblue
  }

  .mainpage{
    margin-left: 0;
    padding: 0.5rem;
    padding-top: 2.5rem;
    text-align: justify;
  }

  .description img {
    width: 100%;
  }

  .about{
    margin-top: 0.5rem;
    font-size: 1.4rem;
  }
  
  .about img{
    margin-bottom: 1rem;
    width: 100%;
  }

  #surpriseId{
    display: none;
    position: absolute;
    top: 65vh;
    left: 25vw;
    z-index: 1000;
    width: 22rem;
    height: 18rem;
    padding: 2rem;
  }

  .juliaverweij {
    font-size: 2rem;
  }

  .leftnavigation{
    color: rgb(39, 27, 211);
    list-style-type: none;
    background-color: white;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -25rem;;
    overflow-x: hidden;
    padding-top: 2rem;
    font-size: 1.1rem;
    transition: 0.45s;
  }
  
  .leftnavigation a {
    text-decoration: none;
    color: rgb(39, 27, 211);
  }
  
  .openbtn {
    display: inline;
    z-index: 9999;
    font-size: 2rem;
    color: rgb(39, 27, 211);
    background-color: #ffffff00;
    border: none;
    position: absolute;
    top: 2.2rem;
    left: 0rem;
    transition: 0.5s;
  }
  
  .openbtn:hover{
    color: cornflowerblue;
  }

  .openbtn.open{
    position: absolute;
    text-align: center;
    top: 2.2rem;
    transform: translate(15rem, 0) rotate(90deg);
  }
  
  .leftnavigation.open{
    width: 20rem;
    transform: translate(25rem, 0);
  }
 
  .row{
    display: block;
  }

  .item{
    width: 100%;
    margin-bottom: 1rem;
  }

  .title{
    margin-top: -0.8rem;
    text-align: right;
    margin-right: -1rem;
    margin-left: 4rem;
    font-size: 2rem;
  }

  .webbaseddescription{
    margin-top: 0rem;
    font-size: 1.1rem;
  }

  .iframe{
    border: none;
  }

  .descriptiongallery{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }
  
  .descriptionportraits{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }
  
  .descriptioncoffee{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }
  
  .descriptionnavigating{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }
  
  .descriptionunfamiliar{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }
  
  .descriptionnerves{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }
  
  .descriptiononestep{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }
  
  .descriptioncake{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }
  
  .descriptionfrustratie{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }
  
  .descriptionblack{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }
  
  .descriptiondoors{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }
  
  .descriptionpaperjam{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }

  .descriptionwebdesign{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }

  .descriptionhue{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }

  .descriptionrei{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }

  .descriptionourmur{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }

  .leftnavigationweblog{
    color: hotpink;
    list-style-type: none;
    background-color: white;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -25rem;;
    overflow-x: hidden;
    padding-top: 2rem;
    font-size: 1.1rem;
    transition: 0.45s;
  }
  
  .leftnavigationweblog a {
    text-decoration: none;
    color: hotpink;
  }
  
  .openbtnWeblog {
    display: inline;
    z-index: 9999;
    font-size: 2rem;
    color: hotpink;
    background-color: #ffffff00;
    border: none;
    position: absolute;
    top: 2.2rem;
    left: -0.5rem;
    transition: 0.5s;
  }
  
  .openbtnWeblog:hover{
    color: pink;
  }

  .openbtnWeblog.open{
    position: absolute;
    text-align: center;
    top: 2.2rem;
    transform: translate(15rem, 0) rotate(90deg);
  }
  
  .leftnavigationweblog.open{
    width: 20rem;
    transform: translate(25rem, 0);
  }

 
  #log001{
    position: relative;
    display: grid;
    pointer-events: none;
    padding: 1rem;
    top: 5rem;
    left: 0;
    margin: auto;
    margin-bottom: 10rem;
    width: 80%;
    height: auto;
  }
  
  #log002{
    position: relative;
    display: grid;
    pointer-events: none;
    padding: 1rem;
    top: 0;
    left: 0;
    margin: auto;
    margin-bottom: 5rem;
    width: 80%;
    height: auto;
  }
   
  summary {
    cursor: pointer;
    pointer-events: all;
  }
  
  #log003{
    position: relative;
    display: grid;
    pointer-events: none;
    padding: 1rem;
    top: 0;
    left: 0;
    margin: auto;
    margin-bottom: 5rem;
    width: 80%;
    height: auto;
  }
  
  #log004{
    position: relative;
    display: grid;
    pointer-events: none;
    padding: 1rem;
    top: 0;
    left: 0;
    margin: auto;
    margin-bottom: 2rem;
    width: 80%;
    height: auto;
  }

}
